

        <h2 class="govuk-heading-m" id="subsection-title">
          Set up my campaign <!-- growth workflow? -->
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/audience">
                Define my audience
              </a>
              <p class="govuk-body-s">Set up where your leads will come from and how you will bring them into you nurture funnel.</p>
            </li>
            <li>
              <a href="/content">
                Create interactive content
              </a>
              <p class="govuk-body-s">Create the assets we'll need to get your piupeline actiuvated.</p>
            </li>
            <li>
              <a href="/leads">
                Manage my leads
              </a>
              <p class="govuk-body-s">Configure what we do with our leads. Form responses will need to be managed.</p>
            </li>
          </ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://community.typeform.com/typeform-conversations-5">
                Ask an expert for help&nbsp;&nbsp;
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 25.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg width="20" version="1.1" id="Livello_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 479.4 500" enable-background="new 0 0 479.4 500" xml:space="preserve">
<g>
  <path fill="#00AC47" d="M108.8,269.7V107.2h-71C16.9,107.2,0,124.2,0,145.1V481c0,16.9,20.4,25.3,32.3,13.4l78.1-78.1h222.4
    c20.9,0,37.8-16.9,37.8-37.8v-71H146.7C125.8,307.5,108.8,290.6,108.8,269.7z"/>
  <path fill="#5BB974" d="M441.6,0H146.7c-20.9,0-37.8,16.9-37.8,37.8v69.4h223.9c20.9,0,37.8,16.9,37.8,37.8v162.4h71
    c20.9,0,37.8-16.9,37.8-37.8V37.8C479.4,16.9,462.5,0,441.6,0z"/>
  <path fill="#00832D" d="M332.8,107.2H108.8v162.4c0,20.9,16.9,37.8,37.8,37.8h223.9V145.1C370.6,124.2,353.7,107.2,332.8,107.2z"/>
</g>
</svg>

              </a>
            </li>
          </ul>
        </nav>



